body{
    background-image: url("beck.jpg");
    background-size: 100% auto;
    margin: 0;
    padding: 0;
}

form{

    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 90px;;
    margin-left: auto;
    margin-right: auto;
    width: 350px;
    height: 500px;
    text-align: center;
    background-color: rgba(0,0,0,0.5);
}
.menubar
{
    background-color: rgba(0,0,0,0.1);
    margin-right: 20px;
}

.menubar li
{
    float: right;
    padding:5px;
    color: white;
    text-align: center;
    list-style: none;
    display: inline;

    height: 10px;
}
.form
{
    height: 25px;
    font-size: medium;
    margin-bottom: 15px;
    outline: none;
    width:300px;
    padding-left: 2px;
    padding-right: 2px;
    padding-bottom: 2px;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
}

.formheading
{
    font-family: Verdana;
    font-weight: bold;
    font-size: 20px;
    border-bottom-color: red;
    border-bottom-style:solid;
    padding-top: 2px;
    margin-bottom: 40px;
    color: white;
}
.heading
{
    font-family: Verdana;

    font-weight: bold;
    padding:5px;
    background-color: transparent;
    color: white;
}


input[type='submit']:hover
{
    background-color: deepskyblue;
}
input[type='button']:hover
{
    background-color: red;
}

input[type='submit'], input[type='button']
{
    margin-top: 10px;
    margin-right: auto;
    margin-left: auto;
    background-color: rgba(0,0,0,0.7);
    color: white;
    width: 305px;
    border-color: white;
    text-align: center;
    height:auto;
    font-size: 16px;
    padding:8px;
}

#newaccount
{
    margin-top:30px;
    text-align: left;
    margin-left: 25px;
    font-size: 15px;

}
a
{
    color: white;
}
